@import url(https://fonts.googleapis.com/css?family=Castoro+Titling:regular);

body {
  padding: 0;
  margin: 0;
  border: 0;
}

.nav-bar {
  border: 1px solid;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  background-image: url(images/beans.jpg);
  background-size: 150px;
}

.left-bar,
.right-bar {
  width: 12rem;
  height: 2.4rem;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
  font-weight: 900;
  font-size: 25px;
}

.logo {
  border-radius: 20%;
  text-align: center;
}

.info {
  background-color: black;
  width: 7rem;
  gap: 1rem;
  text-align: center;
  border-radius: 10%;
  color: white;
  text-decoration: underline;
  transition: all .3s ease-in-out;
}

.info:hover {
  color: salmon;
}

.container {
  display: flex;
  justify-content: center;
  background-image: url(images/bokeh.jpg);
  background-size: 900px;
}

.welcome-card {
  border: 1px solid;
  border-radius: 10%;
  height: 400px;
  max-height: 900px;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, .7);
  color: white;
  gap: 10px;
}

.welcome-message {
  text-align: center;
  font-size: 60px;
  margin-bottom: 10px;
}

.images {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  gap: 10px;
  margin-top: 10px;
}

.cup {
  border-radius: 15%;
  height: 150px;
}

.line {
  border: 4px solid;
}

.spots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.circle {
  border: 2px solid black;
  background-color: black;
  border-radius: 50%;
  height: 8px;
  width: 8px;
}

.places-container {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  justify-items: center;
}

.places-container {
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
}

.places {
  width: 90%;
  margin: 1.3rem;
  max-width: 80%;
  display: flex;
  justify-content: space-evenly;
  overflow-wrap: break-word;
}

.links {
  font-family: 'Courgette', cursive;
  font-weight: 800;
  border-radius: 10%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all .3s ease-in-out;
}

.links:hover,
.info:hover {
  transform: scale(1.1);
}

.picture {
  height: 200px;
  width: 150px;
  border-radius: 10%;
  margin: 5px;
}

.about-container {
  border: 1px solid;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(images/bokeh.jpg);
  background-size: 900px;
}

.about-card {
  border: 1px solid black;
  background-color: black;
  padding: 0;
  opacity: 80%;
  border: 1px solid;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 50%;
  margin: 20px;
  color: white;
}

.about h1 {
  font-size: 60px;
  padding: 0;
}

.me div,
.contact {
  text-align: center;
  font-family: cursive;
}

.contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cup {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
}

.cup:hover {
  transform: scale(1.5);
}